myenv-3.9/
canvas.db
.env
.DS_Store
user_data/.DS_Store
*.pyc
.vscode/
.zshrc
.gitignore
get-pip.py
chroma_data/
test.py
evan_test.py
vectordb/test_db.py
.cursor/
user_data/
**/__pycache__/
vectordb/testing/test_results/