#Box {
    /* position */
    z-index: 10000;
    position: fixed;
    top: 10px;
    right: 10px;
    /* size */
    height: 25px;
    width: 25px;
    /* styling */
    background-color: rgba(228, 6, 15, 255);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    /* image placement */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

#Box img {
    height: 20px;
    width: 20px;
}

#ChatWindow.open {
    transform: scaleX(1) scaleY(1);
}

/* #ChatWindow */
#ChatWindow {
    /* position */
    z-index: 9999;
    position: fixed;
    top: 10px;
    right: 10px;
    /* size */
    height: auto;
    width: 450px;
    /* styling */
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 0px 10px ;
    transition: height 0.3s ease, width 0.3s ease, padding 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 1;
    transform: scaleX(0) scaleY(0);
    transform-origin: top right;
}

#ChatWindow .header {
    height: 30px;
    width: 100%;
    opacity: 1;
    padding: 5px;
    text-align: center;
    font-size: 18px; 
    color: #333;
    font-weight: bold;
}

#ChatWindow .footer {
    height: auto;
    width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-items: space-between;
    margin-top: 15px;
    transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease; 
}

#ChatWindow #dynamicBoxesContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 200px;
    width: 100%;
    opacity: 1;
    transition: max-height 0.3s ease, width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

#ChatWindow #dynamicBoxesContainer.used{
    background-color: #f6f6f6;
    border-radius: 12px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

.promptMemoryBox {
    width: 100%;
    display: flex;
    flex-direction: column;           
    gap: 3px;                        
    padding: 10px;
    margin: 10px 0;
}

.promptBox {
    width: fit-content;
    max-width: 65%;
    display: inline-block;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    background-color: #e7e7e7;
    padding: 5px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
}

.responseBox {
    max-width: 88%;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    font-size: 14px;
    padding-left: 20px;
}

#promptEntryBox {
    resize: none;
    width: 100%;
    min-height: 50px;
    border-radius: 8px; 
    background-color: #e7e7e7;
    padding: 5px;
    border-radius: 12px;
    font-weight: bold;
}

#promptEntryBox:focus {
    border-color: #a0a0a0; 
    outline: none; 
}

#promptEntryButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

#promptEntryButton img {
    height: 35px;
    width: 35px;
    transition: all 0.3s ease;
}

#promptEntryButton img:hover {
    transform: scale(1.1); 
}

.header,
.footer,
#dynamicBoxesContainer {
    overflow: hidden;
    transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}