#Box {
    z-index: 10000;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    background-color: rgba(228, 6, 15, 255);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    transition: transform 0.3s ease;
}

#Box img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#Box:hover {
    transform: scale(1.1);
}

#settingsIcon,
#homeArrow{
    position: relative;
    opacity: 0.7;
    float: left;
    cursor: pointer;
}

#settingsIcon:hover, 
#homeArrow:hover {
    transform: scale(1.1);
}

#ChatWindow.open {
    transform: scaleX(1) scaleY(1);
}

#ChatWindow {
    z-index: 9999;
    position: fixed;
    top: 10px;
    right: 10px;
    height: auto;
    width: 450px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 0px 10px ;
    transition: height 0.3s ease, width 0.3s ease, padding 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 1;
    transform: scaleX(0) scaleY(0);
    transform-origin: top right;
}

.header{
    height: 30px;
    width: 100%;
    opacity: 1;
    padding: 5px;
    text-align: center;
    font-size: 18px; 
    color: #333;
    font-weight: bold;
}

#ChatWindow .header {
    justify-content: left;
}

#ChatWindow .footer {
    height: auto;
    width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-items: space-between;
    justify-content: center;
    margin-top: 15px;
    transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease; 
}

#toolbar {
    margin-bottom: 10px;
    justify-content: center;
}

#ChatWindow #dynamicBoxesContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 200px;
    width: 100%;
    opacity: 1;
    transition: max-height 0.3s ease, width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

#ChatWindow #dynamicBoxesContainer.used{
    background-color: #f6f6f6;
    border-radius: 12px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

.promptMemoryBox {
    width: 100%;
    display: flex;
    flex-direction: column;           
    gap: 3px;                        
    padding: 10px;
    margin: 10px 0;
}

.promptBox {
    width: fit-content;
    max-width: 65%;
    display: inline-block;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    background-color: #e7e7e7;
    padding: 5px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
}

.responseBox {
    max-width: 88%;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    padding-left: 20px;
    
}

#promptEntryBox {
    resize: none;
    width: 100%;
    min-height: 50px;
    border-radius: 8px; 
    background-color: #e7e7e7;
    padding: 5px;
    border-radius: 12px;
    font-weight: bold;
}

#promptEntryBox:focus {
    border-color: #a0a0a0; 
    outline: none; 
}

#promptEntryButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

#promptEntryButton img {
    height: 35px;
    width: 35px;
    transition: all 0.3s ease;
}

#promptEntryButton img:hover {
    transform: scale(1.1); 
}

.header,
.footer,
#dynamicBoxesContainer {
    overflow: hidden;
    transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}

#SettingsWindow {
     z-index: 9999;
     position: fixed;
     top: 10px;
     right: 10px;
     height: auto;
     width: 450px;
     transition: transform 0.3s ease;
     background-color: white;
     border-radius: 12px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
     padding: 10px 10px 0px 10px ;
     opacity: 1;
     transform: scaleX(0) scaleY(0);
     transform-origin: top right;
}

#SettingsWindow.open {
    transform: scaleX(1) scaleY(1);
}

#SettingsWindow .header {
    margin-bottom: 15px;
}

#settingsContainer, #classesHolder {
    flex-direction: column;
}

#classesHolder {
    height: 60vh;
    overflow: scroll;
}

.settingsChild {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    gap: 40px;
}

.settingsChild button, 
.settingsChild span {
    display: flex;
    align-items: center;
}

.settingsChildLabel {
    float: left;
    opacity: 1;
    padding: 5px;
    text-align: center;
    font-size: 12px; 
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 90%;
}

.toolbarChildButton {
    background: #FF4742;
    border: 0.66px solid #FF4742;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0.66px 1.33px 2.66px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 11px;
    font-weight: 800;
    line-height: 11px;
    min-height: 27px;
    outline: 0;
    padding: 8px 9px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.toolbarChildButton:hover,
.toolbarChildButton:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.toolbarChildButton:active {
    opacity: 0.5;
}

#SettingsWindow .footer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;          
    align-items: center;    
    justify-content: center; 
    width: 100%;
    height: 40px;
}

  .checkbox-wrapper-49 input[type="checkbox"] {
        display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-49 {
    --size: 45px;
  }

  .checkbox-wrapper-49 .block {
    position: relative;
    clear: both;
    float: left;
  }

  .checkbox-wrapper-49 label {
    width: var(--size);
    height: calc(var(--size) / 2);
    box-sizing: border-box;
    border: 2px solid;
    float: left;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
    color: black;
  }
  .checkbox-wrapper-49 input[type=checkbox]:checked + label {
    background: #55e868;
  }
  .checkbox-wrapper-49 input[type=checkbox]:checked + label:before {
    left: calc(var(--size) / 2);
  }
  .checkbox-wrapper-49 label:before {
    transition: .3s ease;
    content: '';
    width: calc((var(--size) / 2) - 7px);
    height: calc((var(--size) / 2) - 8px);
    position: absolute;
    background: white;
    left: 2px;
    top: 2px;
    box-sizing: border-box;
    border: 2px solid;
    color: black;
    border-radius: 100px;
  }

  .loader {
    color: #FF4742;
    font-size: 5px;
    width: 1em;
    height: 1em;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: scale(0.5) translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
